<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Personalized</title>
</head>
<body>
    <div class="card">
        <div class="image-head">
           <img src="/img/img_avatar.png" alt="thumbnail">
           <div class="username">@muhammad<p class="details">originally posted in<a href="programming.html">programming</a>, 20m ago.</p></div>
        </div>
        <div class="content-box">
            <h1>How can i use AJAX with Javascript?</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
             voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
            expedita beatae voluptatum pariatur odio iure.</p>
            <div class="post-tools">
                <p class="like">Upvote</p>
                <p class="dislike">Downvote</p>
                <p class="comment">Comment</p>
                <button class="see-more"><a href=post.html>more...</a></button>
            </div>
        </div>
</div>
</body>
</html>