<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <title>User | Snowy</title>
</head>
<body>
    <header>
        <div class="container-div">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
       </div>
        <div class="collapsible-menu" id="collapsible-menu">
            <ul>
            <li class="different-li"><img src="/img/img_avatar.png" alt=""> <p>@muhammad</p> </li>
            <li><a href="profile.html">View profile</a></li>
           <li><a href="followers.html">Followers</a></li>
           <li><a href="following.html">Following</a></li>
           <li><a href="signup.html">Log out</a></li>
           <li class="stat">Stats: 208,456 members</li>
       </ul>
     </div>
          <div class="header-container">
                <h1>Snowy</h1>
             <div class="side-header-container">
             </div>
          </div> 
    </header>
    <div class="profile-grid-container">
        <h2><span>Profile</span></h2>
    </div>
    <div class="user-grid" id="user-grid">
        <img src="img/img_avatar.png" alt="profile">
        <div><p class="user">@abubakar</p>
        <p class="bio">Founder Snowy</p>
    </div>
     <div class="button-container" id="button-container">
        <button class="add">Follow</button> <button class="block">Block</button>
     </div>
       </div>
       <div class="user-container">
           <div class="profile-section">
               <p class="topics current">Topics</p>
               <p class="posts">Posts</p>
               <p class="upvotes">Upvoted</p>
           </div>
           <div class="upvote">oops!, no upvoted post</div>
           <div class="postf">oops!, no post at the moment</div>
           <div class="topic">
            <div class="card">
                <div class="image-head">
                   <img src="img/img_avatar.png" alt="thumbnail">
                   <div class="username"><a href="user.html" class="this">@abubakar</a><p class="details">originally posted 
        in<a href="programming.html">autos</a></p></div>
                   </div>
                   <div class="content-box">
                   <h1>How much is honda accord 2020?</h1>
                   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
        voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
        expedita beatae voluptatum pariatur odio iure.</p>
        <div class="post-tools">
            <p class="like"><div class="fa fa-arrow-circle-up"id="upvote"></div> <span class="like-counter">0</span></p>
            <p class="dislike"><div class="fa fa-arrow-circle-down"id="downvote"></div> <span class="dislike-counter">0</span></p> 
            <p class="dislike"><div class="fa fa-comment"id="comment"></div> <span class="comment-counter">0</span></p> 
            <button class="see-more"><a href=post.html>more...</a></button>
       </div>
         </div>
        </div>
    </div>
    </div>
    <div class="resting-nav-bar">
        <li> <a href="index.html"><div class="hello fa fa-home"></div></a></li>
        <li><a href="section.html"><div class="hello fa fa-users"></div></a></li>
        <li><a href="notifications.html"><div class="hello fa fa-bell"></div></a></li>
        <li><a href="messages.html"><div class="hello fa fa-envelope"></div></a></li>
    </div>
 <script src="main.js"></script>   
 <script src="user.js"></script>
</body>
</html>