<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Snowy!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2 class="welcome">Welcome to Snowy!<h2>
        <button id="start-up"><a href="signup.html">Get Started</a></button>
        <img src="/img/welcome.png" alt="" class="welcome-img">
        <div class="triangle-up"></div>
        <div class="circle"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="triangle-down"></div>
        <div class="trapezoid"></div>
    </div>
</body>
</html>