<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Movies | Snowy</title>
</head>
<body>
  <header>
    <div class="container-div">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
   </div>
    <div class="collapsible-menu"  id="collapsible-menu">
        <ul>
        <li class="different-li"><img src="img/img_avatar.png" alt="thumbnail" class="avatar"> <p class="username">@muhammad</p> </li>
        <li><a href="profile.html">View profile</a></li>
       <li><a href="followers.html">Followers</a></li>
       <li><a href="following.html">Following</a></li>
       <li><a href="signup.html">Log out</a></li>
       <li class="stat">stats: 208,456 members</li>
   </ul>
 </div>
      <div class="header-container">
            <h1 class="section-head">Snowy</h1>
         <div class="side-header-container">
            <p class="post-icon">+</p>
         </div>
      </div> 
 </header>
 <div class="post-content"></div>
 <div class="full-content">
    <div class="section-part-container">
      <div class="make-post">
        <div class="post-flex">
          <h1>New Post</h1>
          <p class="close-post">x</p>
        </div>
         <input type="text" id="heading-header" placeholder="heading goes here">
           <textarea name="" id="heading-content" placeholder="you can only post 245 characters as we are still working on the back-end."></textarea> <br>
             <button class="new-post">Post</button>
             <button class="add-photos">Add Photos</button> <br>
             <a href="community.html" class="guidelines">read our community guidelines</a>
     </div>
        <div class="first-header">
            <h1><span><span class="section-name">Movies</span>- Snowy</span></h1>
              <p>This is a space for discussions on Movies and Drama</p>
            </div>
          <div class="section-button">
                <button><span class="most-viewed current">Most Viewed Topics</span></button>
                <button><span class="update-topic">Updated Topics</span></button>
                <button><span class="new-topic">New Topics</span></button>
              </div>
              </div>
         <div class="post-main">
          <div class="card">
            <div class="image-head">
               <img src="img/img_avatar.png" alt="thumbnail">
               <div class="username"><a href="profile.html" class="this">@muhammad</a><p class="details">originally posted in<a href="movies.html">movies</a></p></div>
               </div>
               <div class="content-box">
               <h1>Sample Topic Header</h1>
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
              voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
               xpedita beatae voluptatum pariatur odio iure.</p>
               <div class="post-tools">
                    <p class="like">Upvote  <span class="like-counter">0</span></p>
                    <p class="dislike">Downvote  <span class="dislike-counter">0</span></p> 
                    <button class="see-more"><a href=post.html>more...</a></button>
               </div>
                </div>
                 </div>
                 <div class="card">
                  <div class="image-head">
                     <img src="img/img_avatar.png" alt="thumbnail">
                     <div class="username"><a href="profile.html" class="this">@muhammad</a><p class="details">originally posted in<a href="movies.html">movies</a></p></div>
                     </div>
                     <div class="content-box">
                     <h1>Sample Topic Header</h1>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
                      voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
                       expedita beatae voluptatum pariatur odio iure.</p>
                     <div class="post-tools">
                          <p class="like">Upvote  <span class="like-counter">0</span></p>
                          <p class="dislike">Downvote  <span class="dislike-counter">0</span></p> 
                          <button class="see-more"><a href=post.html>more...</a></button>
                     </div>
                      </div>
                       </div>

                        <div class="card">
                        <div class="image-head">
                         <img src= "img/img_avatar.png" alt="thumbnail">
                       <div class="username"><a href="profile.html" class="this">@muhammad</a><p class="details">originally posted in<a href="movies.html">movies</a></p></div>
                        </div>
                       <div class="content-box">
                     <h1>Sample Topic Header</h1>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
                     voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
                    expedita beatae voluptatum pariatur odio iure.</p>
                      <div class="post-tools">
                    <p class="like">Upvote  <span class="like-counter">0</span></p>
                    <p class="dislike">Downvote  <span class="dislike-counter">0</span></p> 
                    <button class="see-more"><a href=post.html>more...</a></button>
                    </div>
                    </div>
                   </div>

             <div class="card">
              <div class="image-head">
                 <img src="img/img_avatar.png" alt="thumbnail">
                 <div class="username"><a href="profile.html" class="this">@muhammad</a><p class="details">originally posted 
                  in<a href="movies.html">movies</a></p></div>
                 </div>
                 <div class="content-box">
                 <h1>Sample Topic Header</h1>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
                  voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
                  expedita beatae voluptatum pariatur odio iure.</p>
                 <div class="post-tools">
                      <p class="like">Upvote  <span class="like-counter">0</span></p>
                      <p class="dislike">Downvote  <span class="dislike-counter">0</span></p> 
                      <button class="see-more"><a href=post.html>more...</a></button>
                 </div>
                  </div>
                   </div>
                    </div>
                     </div>
                  <div class="updated-topics">
                   <div class="card">
                    <div class="image-head">
                      <img src="img/img_avatar.png" alt="thumbnail">
                      <div class="username"><a href="profile.html" class="this">@muhammad</a><p class="details">originally posted in<a href="movies.html">movies</a></p></div>
                        </div>
                        <div class="content-box">
                         <h1>Sample Topic Header</h1>
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas 
                          voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi 
                           expedita beatae voluptatum pariatur odio iure.</p>
                            <div class="post-tools">
      <p class="like">Upvote  <span class="like-counter">0</span></p>
      <p class="dislike">Downvote  <span class="dislike-counter">0</span></p> 
      <button class="see-more"><a href=post.html>more...</a></button>
       </div>
      </div>
       </div>
       <div class="update-no-content"></div>
         </div>
      <div class="new-topics-content"> 
      <div class="new-topic-no-content"></div>
       </div>
     </div>
    <div class="no-content-display"></div>
    <div class="resting-nav-bar">
      <li> <a href="index.html"><img src="img/home (1).png" alt="" class="hello"></a></li>
      <li><a href="section.html"><img src="img/multiple-users-silhouette.png" alt="" class="hello"></a></li>
      <li><a href="notifications.html"><img src="img/notification.png" alt="" class="hello"></a></li>
      <li><a href="messages.html"><img src="img/envelope (3).png" alt="" class="hello"></a></li>
     </div>
 <script src="section.js"></script>
 <script src="main.js"></script> 
      </body>
        </html>