<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Trending | Snowy</title>
</head>
<body>
    <header>
        <div class="container-div">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
       </div>
        <div class="collapsible-menu" id="collapsible-menu">
            <ul>
            <li class="different-li"><img src="/img/img_avatar.png" alt=""> <p id="id">@muhammad</p> </li>
            <li><a href="profile.html">View Profile</a></li>
           <li><a href="followers.html">Followers</a></li>
           <li><a href="following.html">Following</a></li>
           <li><a href="signup.html">Log out</a></li>
           <li class="stat">Stats: 208,456 members</li>
          </ul>
       </div>
          <div class="header-container">
                <h1>Snowy</h1>
            <li><a href="messages.html">messages</a></li>
          </div> 
   </header>
        <div class="second-header">
            <h4 class="trending"><span class="first-second-header">Trending</span></h4>
           
       </div>
        <div class="personalized-container"></div>
       <div class="container-home">
          <div class="card">
                <div class="image-head">
                   <img src="/img/img_avatar.png" alt="thumbnail">
                   <div class="username"><a href="profile.html" class="this">@muhammad</a><p class="details">originally posted in<a href="programming.html">programming</a></p></div>
                   </div>
                   <div class="content-box">
                   <h1>How can i use AJAX with Javascript?</h1>
                   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur sequi voluptatum rerum voluptas voluptate, nobis consequatur cupiditate necessitatibus fugiat distinctio impedit porro incidunt. Quasi expedita beatae voluptatum pariatur odio iure.</p>
                   <div class="post-tools">
                        <p class="like">Upvote  <span class="like-counter">0</span></p>
                        <p class="dislike">Downvote  <span class="dislike-counter">0</span></p> 
                        <button class="see-more"><a href=post.html>more...</a></button>
                   </div>
                    </div>
        </div>

        <div class="card" id="card">
               <div class="image-head">
               <img src="/img/img_avatar.png" alt="thumbnail">
               <div class="username"><a href="user.html" class="profile">@abubakar</a><p class="details">originally posted in<a href="Autos.html">autos</a></p></div>
            </div>
            <div class="content-box">
                <h1>How much is honda accord 2020?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolore distinctio assumenda consequuntur nam tempore nihil voluptate odio temporibus minima.<p>
                <div class="post-tools">
                    <p class="like">Upvote <span class="like-counter">0</span></p>
                    <p class="dislike">Downvote <span class="dislike-counter">0</span></p>
                    <button class="see-more"><a href=post.html>more...</a></button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="image-head">
               <img src="/img/img_avatar.png" alt="thumbnail">
               <div class="username">@muhammad<p class="details">originally posted in<a href="fashion.html">fashion</a></p></div>
            </div>
            <div class="content-box">
                <h1>Five fashion styles for men this season</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat recusandae doloremque iusto, facilis nostrum? Ex, eligendi non. Adipisci quibusdam nisi quaerat quod tenetur! Voluptas deleniti excepturi hic corporis aliquam.</p>
                <div class="post-tools">
                    <p class="like">Upvote <span class="like-counter">0</span></p>
                    <p class="dislike">Downvote <span class="dislike-counter">0</span></p>
                    <button class="see-more"><a href=post.html>more...</a></button>
                </div>
            </div>
    </div>
    </div>
    <div class="resting-nav-bar" id="resting-bar">
        <li> <a href="index.html">home</a></li>
        <li><a href="section.html">sections</a></li>
        <li><a href="trending.html">trending</a></li>
        <li><a href="notifications.html">notifications</a></li>
        <li><a href="search.html">search</li>
    </div>
    <script src="index.js"></script>
    <script src="main.js"></script>
</body>
</html>